.search-bar-container {
    width: 50%;
    display: inline-flex;
    align-items: center;
}

.search-bar-container input {
    margin: 1.5em 0;
    padding: 0.5em 0.45em;
    width: 100%;
    border: 2px solid #DB2B39;
    border-left: 0;
    font-family: 'Roboto';
    font-size: 1.2em;
}

.search-bar-container input:focus {
    outline-style: none;
}

.icon-container {
    border: 2px solid #DB2B39;
    padding: 0.7em 0.7em;
    border-radius: 6px;
    user-select: none;
}

.left {
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-right: 0.2em;
}

.right {
    cursor: pointer;
    border-left: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 0.7em 0.8em;
}

.middle {
    cursor: pointer;
    border-radius: 0;
    border-left: 0;
}

.fa {
    color: #29335C;
}

@media (max-width: 767px) {
    .search-bar-container {
        display: flex;
        width: 100%;
        margin-right: 0;
    }

    .left {
        margin-left: 1em;
    }

    .right {
        margin-right: 1em;
    }
}